[Desktop Entry]
Encoding=UTF-8
Name=NWO
Comment=NWO P2P Cryptocurrency
Exec=swamp-qt %u
Terminal=false
Type=Application
Icon=swamp128
MimeType=x-scheme-handler/swamp;
Categories=Office;Finance;
Name[ru]=swamp-qt.desktop.desktop
